body {
	background-color: #2E8EEC;
	color: white;
	padding: auto;
	min-height: 100vh;
	position: relative;
}

@keyframes infotabs {
  from {opacity: 0}
  to {opacity: 1}
} 

@media  screen and (max-width: 530px) {
	header {
		flex-direction: column;
		align-items: center;
	}
	.icon {
		margin: 0 10% 0 10%;
	}
	.menuimg {
		max-width: 60%;
	}
	.fatinfo img {
		max-width: 95%;
	}
}