body {
	background-color: #2E8EEC;
	color: white;
	padding: auto;
}

header, .selectbtn, footer, .configs, .navigation {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-content: flex-start;
	align-items: flex-start;
}

.configs {
	align-items: center;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header div{
	flex: 0 0 40%;
	text-align: center;
}

.icon {
	max-height: 50px;
}

#selecttitle {
	text-align: center;
	margin-bottom: 50px;
}

.selectbtn {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	text-align: center;
	align-items: stretch;
}

.selectbtn p {
	text-align: left;
}

li {
	margin-top: 35px;
}

.selectbtn button {
	background-color: #01DADE;
	max-width: 100%;
	box-shadow: 3px 3px 5px #01DADE;
	color: white;
	font-size: 35px;
}

button:hover {
	cursor: pointer;
}

.menuimg {
	max-width: 30%;

}

a {
	text-decoration: none;
}

#results, #informacion {
	display: none;
}

#results div {
	display: flex;
	justify-content: center;
	background-color: rgba(200, 200, 0, 0.7);
}

#results h2, #results div {
	display: inline-block;
	margin: 0px 5px 0px 5px;
}

.calcontainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.calcontainer article {
	text-align: center;
}

.perccalc {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.fatinfo {
	margin-top: 20px;
}

.fatinfo img {
	max-width: 60%;
}

.perccalc input, .perccalc select {
	margin-bottom: 10px;
}

.perccalc button {
	height: 50px;
}

ul div {
	background: rgba(1, 218, 222, 0.7);
}

.urgent {
	color: red;
}

.info {
	display: none;
	animation-name: animatetop;
	animation-duration: 0.4s
}

.infotab {
	cursor: pointer;
}

@keyframes infotabs {
  from {opacity: 0}
  to {opacity: 1}
} 

@media  screen and (max-width: 530px) {
	header {
		flex-direction: column;
		align-items: center;
	}
	.icon {
		margin: 0 10% 0 10%;
	}
	.menuimg {
		max-width: 60%;
	}
	.fatinfo img {
		max-width: 95%;
	}
}