<section class="row">
  <article class="col-md-6">
    <div class="text-center">
      <p>...</p>
      <h3>Iniciar sesión</h3>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
      <div class="form-group">
        <label for="username" class="form-label">Correo electrónico</label>
        <input type="email" formControlName="username" class="form-control" id="username" placeholder="Correo electrónico">
      </div>
      <div class="form-group">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" formControlName="password" class="form-control" id="password" placeholder="Contraseña">
      </div>
      <div class="text-center">
        <input type="submit" value="Entrar" class="btn btn-info">
      </div>
    </form>
  </article>
  
  <article class="col-md-6">
    <div class="text-center">
      <p>Si aún estás registrado en la plataforma, puedes hacerlo con el formulario acá abajo</p>
      <h3>Registrar nuevo usuario</h3>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
      <div class="form-group">
        <label for="username" class="form-label">Correo electrónico</label>
        <input type="email" formControlName="username" class="form-control" id="username" placeholder="Correo electrónico">
      </div>
      <div class="form-group">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" formControlName="password" class="form-control" id="password" placeholder="Contraseña">
      </div>
      <div class="form-group">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" formControlName="name" class="form-control" id="name" placeholder="Nombre">
      </div>
      <div class="form-group">
        <label for="lastname" class="form-label">Apellido</label>
        <input type="text" formControlName="lastname" class="form-control" id="lastname" placeholder="Apellido">
      </div>
      <div class="form-group">
        <label for="birthdate" class="form-label">Fecha de nacimiento</label>
        <input type="date" formControlName="birthdate" class="form-control" id="Fecha de nacimiento">
      </div>
      <div class="form-group">
        <label for="gender" class="form-label">Género</label>
        <select formControlName="gender" class="form-control" id="gender">
          <option value="" disabled selected>Seleccione su género</option>
          <option value="male">Hombre</option>
          <option value="female">Mujer</option>
        </select>
      </div>
      <div class="text-center">
        <input type="submit" value="Registrarse" class="btn btn-info">
      </div>
    </form>
  </article>
</section>